<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>

    <div class="ui  masthead vertical center aligned segment">
        <div class="ui text container">
            <h1 class="ui header huge" >Welcome to YelpCamp</h1>
            <a class="ui button teal huge" href="/campgrounds">Check out the Campgrounds</a>
        </div>
    </div>


</body>