<% include partials/header %>

<main class="ui main text container">
    <img class="image" src="<%= campground.image%>" alt="campsite image">
    <h1 class="header"><%= campground.name %></h1>
    <p class="description"><%- campground.description %></p>
    <a href="/campgrounds" class="button">Return to Campgrounds</a>
</main>



<% include partials/footer %>