



.showSidebar {
    .button {
        width: 100%;
    }
}

.showContent {
    padding: 5px;
}

.ui.comments {
    max-width: 100%;
    >.button {
        padding-left: 2.5em;
        padding-right: 2.5em;
        float: right;
    }
}

.deleteCheck {
    display: inline;
}

.masthead {
    background-image: url("https://c1.staticflickr.com/3/2476/3768082032_27611a1e91_b.jpg") !important;
    background-size: cover !important;
    height: 100%;
    .container {
        margin-top: 16em;
    }
    .huge.header {
        font-size: 3em;
        font-weight: bold;

    }
}